@mixin breakpoint($point:xs) {
  @if $point == xs {
    @media (min-width: 0) { @content; }
  }
  @else if $point == sm {
    @media (min-width: $screen-xs){ @content; }
  }
  @else if $point == md {
    @media (min-width: $screen-sm){ @content; }
  }
  @else if $point == lg {
    @media (min-width:$screen-md) { @content; }
  }
}
