
/**
 * Vertrical breakpoints
 * @type {[type]}
 */
@custom-media --xs-screen (min-width:0px);
@custom-media --sm-screen (min-width:480px);
@custom-media --md-screen (min-width:768px);
@custom-media --md-screen (min-width:1200px);

@custom-media --xs-v-screen (min-height:0px);
@custom-media --sm-v-screen (min-height:480px);
@custom-media --md-v-screen (min-height:768px);
@custom-media --lg-v-screen (min-height:1200px);
